<div class="sidebar">
  <div class="sidebar__logo">
    <img 
      *ngIf="logoUrl && !logoError" 
      [src]="logoUrl" 
      [alt]="tenantName + ' Logo'"
      (error)="onLogoError()"
      class="sidebar__logo-img"
    />
    <span *ngIf="!logoUrl || logoError" class="sidebar__logo-missing">
      Firmen Logo fehlt
    </span>
  </div>

  <nav class="sidebar__nav">
    <a
      *ngFor="let item of menu"
      [routerLink]="item.link"
      routerLinkActive="active"
      class="sidebar__link"
    >
      <span class="sidebar__icon">{{ item.icon }}</span>
      <span>{{ item.label }}</span>
    </a>
  </nav>
</div>
